@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700;6..96,800;6..96,900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bodoni Moda', serif;
    font-size: 1.2rem;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, #041308,#0b3317);
}

.left-text{
    flex-basis: 30%;

}


.heading{
    text-align: center;
    font-size: 3rem;
    color: white;
}

.sub-heading{
    color: #ddd;
    text-align: center;
    margin-top: 10px;
}

.gallery{
    flex-basis: 50%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;

}

.box{
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 0.5s ease-in-out;
}

.box:hover{
    cursor: pointer;
    background-color: #999;
    background-position: center;
    box-shadow: 0px 0px 4px white;
}


.row-2{
    grid-row: span 2;
}

.col-2{
    grid-column: span 2;
}


@media screen and (max-width: 1024px) {
    body{
        font-size: 1rem;
    }
    .container{
        justify-content: space-around;
    }

    .left-text{
        flex-basis: 25%;
    }

    .heading{
        font-size: 2rem;
    }

    .gallery{
        flex-basis: 60%;
        gap: 10px;
        grid-auto-rows: 180px;
        font-size: 1.3rem;
    }
}


@media screen and (max-width: 850px) {
    body{
        font-size: 1rem;
    }
    .container{
        flex-direction: column;
        padding-block: 20px 20px;
    }

    .left-text{
        padding: 0px 20px;
    }
    .heading{
        font-size: 2.5rem;
    }

    .gallery{
        width: 100%;
        gap: 10px;
        grid-auto-rows: 250px;
        row-gap: 10px;
        padding: 0px 20px;
        font-size: 1.5rem;
    }

    .box{
        grid-column: span 3;
        grid-row: span 1;
        border-radius: 10px;
    }
    
    .box:hover{
        box-shadow: 0px 0px 6px white;
    }

    
}

